@import "tailwindcss";

@theme {
  --font-headline: var(--font-headline);
  --font-bodytext: var(--font-bodytext);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold uppercase;
    font-family: var(--font-headline);
  }

  a {
    @apply duration-1000 ease-in-out hover:transition-all;
  }

  footer nav a {
    @apply underline hover:no-underline;
  }
}

@utility banner-headline {
  @apply font-medium text-center text-5xl md:text-8xl lg:text-[128px] leading-none pb-3 uppercase;
  font-family: var(--font-headline);
}

@utility button {
  @apply inline-block px-8 py-5 text-lg font-medium tracking-widest text-center uppercase transition-opacity duration-500 ease-in-out border opacity-90 hover:opacity-100;
  font-family: var(--font-headline);
}

@utility section {
  @apply max-w-3xl py-8 mx-auto;
}
